.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: left;
}

.publishedDate {
  color: grey;
}

.subTitle {
  font-size: 1.3rem;
  line-height: 25px;
  color: grey;
  margin-bottom: 3rem;
}

.mainImage {
  width: 90%;
  height: auto;
  margin: auto;
}

.imageCaption {
  color: grey;
  text-align: center;
}
